<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <title>Notas dos Estudantes</title>
    </head>
    <body>
        <h1>Notas dos Estudantes</h1>
        <table>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Nota</td>
            </tr>
            <% for(let i=0; i<estudantes.length; i++) {%>
            <tr>
                <td><%= estudantes[i].idestudante %></td>
                <td><%= estudantes[i].nome %></td>
                <td><%= estudantes[i].nota %></td>
                <td>
                    <form
                        action="/estudante/delete/<%= estudantes[i].idestudante %>" method="post">
                        <button type="submit">Deletar</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
    </body>
</html>

