<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <title>Nota requerida</title>
    </head>
    <body>
        <h1>Nota Requerida</h1>
        <table>
            <tr>
                <td>Nota</td>
            </tr>
            <tr>
                <td><%= notaIndividual[0].nota %></td>
            </tr>
        </table>
    </body>
</html>