<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <title>Home - Bem vindo</title>
  </head>
  <body>
    <h1>Bem-vindo a página inicial do Node server</h1>
    <a href="/insereestudante"><button>Insere Estudante</button></a>
    <a href="/estudantes"><button>Exibir Estudantes</button></a>
  </body>
</html>
