<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <title>Professores</title>
    </head>
    <body>
        <h1>Lista de Professores</h1>
        <table>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Titulação</td>
            </tr>
            <% for(let i=0; i<professores.length; i++) {%>
            <tr>
                <td><%= professores[i].idprofessores %></td>
                <td><%= professores[i].nome %></td>
                <td><%= professores[i].titulacao %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>