<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <title>Notas dos Estudantes</title>
    </head>
    <body>
        <h1>Notas dos Estudantes</h1>
        <table>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Nota</td>
            </tr>
            <% for(let i=0; i<notas.length; i++) {%>
            <tr>
                <td><%= notas[i].idestudante %></td>
                <td><%= notas[i].nome %></td>
                <td><%= notas[i].nota %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>